#### This file is used to reproduce Table 1, 8 and 9 in the paper.

- Acadia National Park (Table 8) is used as default.   
- For Yosemite National Park (Table 9), simply change park="acadia" to park="yosemite" in Chunk [4] and run the chunks below it.

In [1]:
!pip install -r requirements.txt

Collecting numpy==1.20.2
  Downloading numpy-1.20.2-cp37-cp37m-manylinux2010_x86_64.whl (15.3 MB)
     |████████████████████████████████| 15.3 MB 146 kB/s eta 0:00:01
Collecting pandas==1.2.4
  Downloading pandas-1.2.4-cp37-cp37m-manylinux1_x86_64.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 44.2 MB/s eta 0:00:01
Collecting patsy==0.5.1
  Downloading patsy-0.5.1-py2.py3-none-any.whl (231 kB)
     |████████████████████████████████| 231 kB 72.2 MB/s eta 0:00:01
Collecting scikit-learn==0.24.1
  Downloading scikit_learn-0.24.1-cp37-cp37m-manylinux2010_x86_64.whl (22.3 MB)
     |████████████████████████████████| 22.3 MB 17.4 MB/s eta 0:00:01
Collecting scipy==1.6.3
  Downloading scipy-1.6.3-cp37-cp37m-manylinux1_x86_64.whl (27.4 MB)
     |████████████████████████████████| 27.4 MB 92 kB/s s eta 0:00:01
Collecting sklearn==0.0
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting statsmodels==0.12.2
  Downloading statsmodels-0.12.2-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 48.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas==1.2.4->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas==1.2.4->-r requirements.txt (line 2)) (2021.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from patsy==0.5.1->-r requirements.txt (line 3)) (1.15.0)
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
     |████████████████████████████████| 303 kB 61.2 MB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=37825dff01cce1e15c756d47cc434e69a3ee0eaf54b249ae2ca7727806e596fd
  Stored in directory: /home/jovyan/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: numpy, threadpoolctl, scipy, joblib, scikit-learn, patsy, pandas, statsmodels, sklearn
Successfully installed joblib-1.0.1 numpy-1.20.2 pandas-1.2.4 patsy-0.5.1 scikit-learn-0.24.1 scipy-1.6.3 sklearn-0.0 statsmodels-0.12.2 threadpoolctl-2.1.0

In [2]:
import pandas as pd
import numpy as np
import string
pd.set_option("mode.chained_assignment", None)

#### Reproduce Table 1 in the paper

In [3]:
path = "https://raw.githubusercontent.com/meilinshi/Socially-aware-Huff-model/main/Data/"
acadia_ttl = path+"acadia_NP.csv"
yosemite_ttl = path+"yosemite_NP.csv"

def table_stats(input):
    df = pd.read_csv(input)
    total_pts = df.shape[0] # number of photos
    total_user = df['owner'].nunique() #number of users
    return [total_pts,total_user]

def generate_tbl1():
    tbl1_results = [table_stats(acadia_ttl),table_stats(yosemite_ttl)]
    tbl1 = pd.DataFrame(data=tbl1_results, columns=['Num_photo','Num_user'])
    tbl1['Park'] = ['Acadia','Yosemite']
    tbl1 = tbl1.set_index(['Park'])
    return tbl1

generate_tbl1()

          Num_photo  Num_user
Park
Acadia        34933      1879
Yosemite      50384      3653

In [4]:
park = "acadia"
#park = "yosemite"

# data retrieved using Flickr API after clustering, each photo is already assigned with a cluster_id
park_url = path+park+"_NP_cluster.csv"

# position of each attraction in park
position_url = path+park+"_NP_coords.csv"

In [5]:
# The input csv is the data retrieved using Flickr API after clustering
# each photo is assigned with a cluster_id

# data pre-processing
def preprocess(input_url):
    df = pd.read_csv(input_url)
    df['datetaken'] = pd.to_datetime(df['datetaken'])
    df['date'] = [d.date() for d in df['datetaken']]
    df['year'] = pd.DatetimeIndex(df['date']).year
    df['month'] = pd.DatetimeIndex(df['date']).month
    df['time'] = [d.time() for d in df['datetaken']]
    df['Cluster'] = [chr(ord('a') + x) for x in df['Cluster']]
    return df

df = preprocess(park_url)
df.head()

,index,id,owner,datetaken,latitude,longitude,title,accuracy,views,Cluster,date,year,month,time
0,0,8918787381,74212514@N04,2010-01-10 15:50:46,44.354492,-68.051204,Acadia National Park,12.0,793,a,2010-01-10,2010,1,15:50:46
1,1,29498596186,74212514@N04,2010-01-10 16:03:20,44.354492,-68.051204,Maine - Acadia National Park,12.0,5829,a,2010-01-10,2010,1,16:03:20
2,2,8919396564,74212514@N04,2010-01-10 16:15:59,44.354492,-68.051204,DSC03484,12.0,55,a,2010-01-10,2010,1,16:15:59
3,3,8918780331,74212514@N04,2010-01-10 16:31:06,44.354492,-68.051204,DSC03491,12.0,57,a,2010-01-10,2010,1,16:31:06
4,4,8918778905,74212514@N04,2010-01-10 16:42:40,44.354492,-68.051204,DSC03498,12.0,67,a,2010-01-10,2010,1,16:42:40

### Extracting trip sequences from geotagged photos

In [9]:
from datetime import timedelta
import collections

# preprocess: sort values and set owners as index
def clean_data(input):
    input = input[['owner','year','month','date','Cluster']]
    input.sort_values(['owner', 'year','month','date'], ascending=True, inplace=True)
    input.set_index(['owner'],inplace=True)
    return input


# construct trips by getting temporally-ordered sequence of photo
# a time threshold of 4 days is used to distinguish separate trips from the same user
def split_trip(input):
    delta, trip_id = [],[]
    counts = collections.Counter(input.index)
    unique_users_list = input.index.unique()
    
    for i in range(len(unique_users_list)):
        user = unique_users_list[i]
        subset = input.loc[user]

        if counts[user] == 1:
            delta.append(0)
            trip_id.append(1)
        else:
            delta.append(0)
            trip_id.append(1)
            for j in range(counts[user]-1):
                length = subset['date'].values[j+1] - subset['date'].values[j]
                delta.append(length.days)
                if length.days > 4: #time threshold: average length of stay in both NPs
                    trip_id.append(trip_id[-1] + 1)
                else:
                    trip_id.append(trip_id[-1])
    input.loc[:,'duration'] = delta
    input.loc[:,'trip_id'] = trip_id
    return input

# form dataframe for constructed trips, i.e., od: [a,a,a,b,c]
def get_OD_trips(input):
    trips = pd.DataFrame()
    user,year,month, trip_id, od = [],[],[],[],[]
    index = input.index.unique()   
    for i in range (len(index)):
        user.append(index[i][0])
        month.append(input.loc[index[i]]['month'].values[0])
        trip_id.append(index[i][1])
        od.append(input.loc[index[i]]['Cluster'].values)   
    trips['user'] = user
    trips['month'] = month
    trips['trip_id'] = trip_id
    trips['od'] = od   
    return trips

# removing consecutive duplicates from the od list, i.e., u_od: [a,b,c]
from itertools import groupby  
def get_unique_OD_trips(input):
    input['u_od'] = ""
    for i in range(len(input)): 
        res = [i[0] for i in groupby(input['od'][i])] 
        input['u_od'][i] = res
    return input

In [10]:
def get_final_trips(df):
    # remove duplicate within same owner, same date, same place id
    OD = df.drop_duplicates(['owner','year','date','Cluster'],keep='first')
    full = clean_data(OD)
    full = split_trip(full)
    full.set_index('trip_id',append=True, inplace=True)    
    NP_trips = get_OD_trips(full)
    NP_trips = get_unique_OD_trips(NP_trips)
    return NP_trips

NP_trips = get_final_trips(df)
NP_trips['u_od'] = [', '.join(x) for x in NP_trips['u_od']]
NP_trips

,user,month,trip_id,od,u_od
0,10016118@N04,10,1,"[j, k]","j, k"
1,100256002@N06,10,1,"[b, j]","b, j"
2,100327756@N02,5,1,"[e, e, e, e]",e
3,100508820@N04,10,1,"[e, j, m, b, g, l]","e, j, m, b, g, l"
4,100523630@N04,8,1,"[f, g]","f, g"
...,...,...,...,...,...
1867,9965983@N05,6,1,"[g, j, m, l, k, e, b, c, c]","g, j, m, l, k, e, b, c"
1868,99693431@N07,7,1,"[c, c]",c
1869,99693431@N07,12,2,"[c, c]",c
1870,99718142@N07,10,1,[e],e
1871,99969845@N00,8,1,"[g, j, i, k]","g, j, i, k"

### Calculating visiting probabilities from trip sequences

In [11]:
# get trip segments from sequences i.e., [a,b] and [b,c] from [a,b,c]
from itertools import permutations

num_cluster = df.Cluster.nunique()
alphabet_string = string.ascii_lowercase
alphabet_list = list(alphabet_string)[:num_cluster]
key  = alphabet_list
output = sum([list(map(list, permutations(key, 2)))], [])
outstr = [', '.join(output[i]) for i in range(len(output))]
for i in range(len(key)):
    outstr.insert(i*(len(key)+1), key[i])

# number of total in each cluster
photos_num = [df[df.Cluster == x].shape[0] for x in alphabet_list]

# count number of trips from the segments
def get_flow(df, keys):
    dicts = dict.fromkeys(keys, 0) 
    for i in range(len(df['u_od'])):
        values = df['u_od'].iloc[i]
        for j in range(len(keys)):
            dicts[keys[j]] += values.count(keys[j])
    res = pd.DataFrame.from_dict(dicts, orient='index')
    return res

In [12]:
# construct flow matrix based on trip segments
# calculate number of incoming, outgoing and cross_boundary trips
def flow_matrix(df):
    dim = num_cluster
    flow_matrix = np.zeros((dim, dim), int)
    for i in range(dim):
        for j in range(dim):
            if i == j:
                flow_matrix[i][j] = 0
            else:
                flow_matrix[i][j] = df.values[j+dim*i]
    res = pd.DataFrame(data=flow_matrix, columns = alphabet_list)    
    res['total_out'] = res.sum(axis=1)
    res['total_in']= res.sum(axis=0)[:dim].values
    res['cross_boundary'] = res.loc[:,'total_out'].values+res.loc[:,'total_in'].values
    res['photos'] = photos_num
    res['Places'] = position['Clusters from Data'].values # get cluster names
    res = res.set_index('Places')
    return res


# calculate visiting probabilities from the flow matrix
def prob_matrix(df):
    pmatrix = df.iloc[:,:df.shape[0]].div(df.total_out, axis=0)
    pmatrix = pmatrix.fillna(0)
    pmatrix_df = pd.DataFrame(pmatrix, columns = alphabet_list)
    pmatrix_df['Places'] = position['Clusters from Data'].values
    pmatrix_df = pmatrix_df.set_index('Places')
    return pmatrix_df


# take subset of data by month
def subset_data(input,month):
    subset = input[input['month'] == month]
    return subset


# split the flow matrix into month
def split_fmatrix(trips, month):
    subset = subset_data(trips, month)
    flow = get_flow(subset,outstr) 
    return flow_matrix(flow)

#### To reproduce Table 8 or 9

In [13]:
position = pd.read_csv(position_url)
position['coord'] = list(zip(position.Longitude, position.Latitude))

# flow matrix of all trips in the National Park
# column['total_out','total_in','photos'] to reproduce Table 8 and 9
flow = get_flow(NP_trips,outstr)
fmatrix = flow_matrix(flow)
fmatrix

,a,b,c,d,e,f,g,h,i,j,k,l,m,total_out,total_in,cross_boundary,photos
Places,,,,,,,,,,,,,,,,,
Schoodic Institute,0,13,7,1,12,1,8,0,0,4,3,2,6,57,66,123,1119
Bass Harbor,12,0,34,9,64,13,53,4,6,25,12,15,21,268,295,563,2298
Southwest Harbor,3,44,0,6,30,3,15,4,1,4,1,2,2,115,117,232,723
Northeast Harbor,5,16,8,0,13,1,7,0,2,10,1,2,3,68,78,146,605
Bar Harbor,20,60,25,21,0,17,118,3,12,50,15,40,56,437,367,804,6259
Wild Gardens of Acadia,1,3,1,2,10,0,6,1,1,6,4,11,15,61,67,128,550
Cadillac Mountain,8,57,12,13,102,16,0,0,14,51,12,24,45,354,350,704,3285
Penobscot Peak,2,3,3,2,2,0,0,0,0,2,0,1,1,16,15,31,776
Bubble Rock,1,16,5,0,19,1,13,2,0,17,3,3,5,85,89,174,703
Jordan Pond,6,36,4,10,50,5,53,1,44,0,4,8,12,233,255,488,1250
Boulder Beach,3,11,7,4,10,3,18,0,0,19,0,4,9,88,104,192,536
Thunder Hole,1,17,5,3,26,3,28,0,5,42,32,0,7,169,187,356,977
Sand Beach,4,19,6,7,29,4,31,0,4,25,17,75,0,221,182,403,1253

In [14]:
# probability matrix of all trips in the National Park
pmatrix = prob_matrix(fmatrix)
pmatrix

,a,b,c,d,e,f,g,h,i,j,k,l,m
Places,,,,,,,,,,,,,
Schoodic Institute,0.000000,0.228070,0.122807,0.017544,0.210526,0.017544,0.140351,0.000000,0.000000,0.070175,0.052632,0.035088,0.105263
Bass Harbor,0.044776,0.000000,0.126866,0.033582,0.238806,0.048507,0.197761,0.014925,0.022388,0.093284,0.044776,0.055970,0.078358
Southwest Harbor,0.026087,0.382609,0.000000,0.052174,0.260870,0.026087,0.130435,0.034783,0.008696,0.034783,0.008696,0.017391,0.017391
Northeast Harbor,0.073529,0.235294,0.117647,0.000000,0.191176,0.014706,0.102941,0.000000,0.029412,0.147059,0.014706,0.029412,0.044118
Bar Harbor,0.045767,0.137300,0.057208,0.048055,0.000000,0.038902,0.270023,0.006865,0.027460,0.114416,0.034325,0.091533,0.128146
Wild Gardens of Acadia,0.016393,0.049180,0.016393,0.032787,0.163934,0.000000,0.098361,0.016393,0.016393,0.098361,0.065574,0.180328,0.245902
Cadillac Mountain,0.022599,0.161017,0.033898,0.036723,0.288136,0.045198,0.000000,0.000000,0.039548,0.144068,0.033898,0.067797,0.127119
Penobscot Peak,0.125000,0.187500,0.187500,0.125000,0.125000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.062500,0.062500
Bubble Rock,0.011765,0.188235,0.058824,0.000000,0.223529,0.011765,0.152941,0.023529,0.000000,0.200000,0.035294,0.035294,0.058824
Jordan Pond,0.025751,0.154506,0.017167,0.042918,0.214592,0.021459,0.227468,0.004292,0.188841,0.000000,0.017167,0.034335,0.051502
Boulder Beach,0.034091,0.125000,0.079545,0.045455,0.113636,0.034091,0.204545,0.000000,0.000000,0.215909,0.000000,0.045455,0.102273
Thunder Hole,0.005917,0.100592,0.029586,0.017751,0.153846,0.017751,0.165680,0.000000,0.029586,0.248521,0.189349,0.000000,0.041420
Sand Beach,0.018100,0.085973,0.027149,0.031674,0.131222,0.018100,0.140271,0.000000,0.018100,0.113122,0.076923,0.339367,0.000000

In [15]:
# split the trips and generate probability matrix for each month
# the output is provided in the data folder --> acadia_pmatrix/ yosemite_matrix
# if you would like to modify any parameter and generate your own output just uncomment the last line of code

for i in range(1,13):
    df_sub = pd.DataFrame()
    df_sub = split_fmatrix(NP_trips,i)
    pmatrix_sub = prob_matrix(df_sub)
    #pmatrix_sub.to_csv(park+'_NP_cluster_prob_matrix_'+str(i)+'.csv')